/* =Post
===================================================== */

// Post
//
// Post entry
//
// Markup: post.html
//
// Style guide: 6.post

.post {

  @include clearfix();

  margin-bottom: $unit-default;
  padding-bottom: $unit-default;
  border-bottom: 6px double $color-border-weak;

}

.entry-header {}

.entry-content {

  @include clearfix();

}

.entry-title {

  font-size: ms(2);
  line-height: ms(1);
  text-transform:uppercase;

  margin-bottom: $unit-default;

  a {

    &:hover,
    &:focus,
    &:active {

      text-decoration: none;

    }

  }
  &:after {

    font-size: 0.8em;
    line-height: ms(0);
    font-size: $light;

  }

}

.entry-meta {

  margin-bottom: $unit-s;

  a {

    color: $color-link-alt;

    &:hover,
    &:focus,
    &:active {

      color: $color-link-alt-hover;

    }

  }

  .updated {

    display: none;

  }

  .published {

    display: inline;

  }

}

.entry-footer {

  margin-bottom: $unit-default;

  @include font-size(16);
  line-height: em(24,16);
  color: $color-text-weak;

  > :after {

    content: " | ";

  }

  > :last-child {

    &:after {

      content: "";

    }

  }

  a {

    color: $color-link-alt;

    &:hover,
    &:focus,
    &:active {

      color: $color-link-alt-hover;

    }

  }

}

h2, h3 {
  font-size: ms(1);
  line-height: ms(1);
  font-weight:$semibold;
}

h4 {
  font-size: ms(1);
  line-height: ms(0);
}

p {
  font-size: 0.9em;
  line-height: 1.6em;
}

ul li {
  font-size: 0.9em;
  line-height: 1.3em;
}

.has-medium-font-size {
  font-size: ms(1);
  line-height: ms(1);
  font-weight:$semibold;
}