/* =Site branding
===================================================== */

// Site branding
//
// Site logo, title and description.
//
// Markup: branding.html
//
// Style guide: 6.branding


/*
 * Header
 *
 * Container for navigation and branding
 * <header id="masthead" class="site-header" role="banner"> ... </header>
 */

.site-header {

    $padding-y: $container-unit-medium * 2;
    $padding-x: $container-unit-medium * 4;
    padding: $padding-y 0 0 $padding-x;

    @include breakpoint(medium) {
        $padding-y: $container-unit-medium * 3;
        $padding-x: $container-unit-medium * 7;
        padding: $padding-y 0 0 $padding-x;
    }

    background: $light-grey $image-triangles-01 no-repeat left center / contain;
    border-bottom: solid 10px $color-brand-primary;

    &:after{
        content: "";
        z-index: 201;
        background: $image-galicia no-repeat center center / contain;
        position: absolute;
        bottom: -2em;
        right: 2em;
        width: 300px; height: 300px;
        @include breakpoint(to-large){
            display: none;
        }
    }

}

.site-header .site-branding {

    max-width: $container-max-width;
    margin: auto;

    position: relative; // Add position: relative to keep the light beams from leaking out
    overflow: hidden; // Add overflow: hidden to keep light beams from leaking out

    //@include container-padding(1.5);

    .home & {

        //@include container-padding(3.5);

    }

}

.site-title {

    margin: 0;

    @include breakpoint(medium){
        font-size: ms(6);
        max-width: 440px;
    }

    font-size: ms(3);
    line-height: 1;
    font-family: $font-headline;
    font-weight: $bold;
    color: $color-text-strong;

    a {

        display: block;
        color: transparent;

        background: -webkit-linear-gradient($color-brand-primary, $color-brand-secondary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        &:hover,
        &:focus,
        &:active {

            color: $color-link;
            text-decoration: none;

        }

    }

    /*
    a:before {

        display: block;
        width: ($site-logo-width * $site-logo-proportion);
        height: ($site-logo-height * $site-logo-proportion);
        margin-left: auto;
        margin-right: auto;
        margin-bottom: $unit-s;

        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-image: $site-logo-path;
        background-size: 100%;

        content: "";

      }
     */

}

.site-description {

    margin: 0;
    margin-top: $unit-xs;

    font-size: ms(0);
    line-height: ms(1);
    font-family: $font-body;
    font-weight: $regular;
    text-transform: none;
    color: $color-brand-tertiary;

}
